nav{
    background-color: #FFFFFF;
}
nav .brand-logo  {
  font-size:1.1rem;
}
footer.page-footer{
    background-color:#FFFFFF;
}
body{
    font-family: 'Comfortaa', cursive;
}
hr{
    color: #000;
}
.side-nav a.btn:hover, .side-nav a.btn-large:hover, .side-nav a.btn-large:hover{
    background-color: #bbbbbb;
    color: #000000;
}
.side-nav a.btn:hover, .side-nav a.btn-large:hover, .side-nav a.btn-large:hover{
    color: #000000;
}
.side-nav a.btn, .side-nav a.btn-large, .side-nav a.btn-large, .side-nav a.btn-floating {
    color: #000000;
}
.btn, .btn-large{
    background-color: #FFFFFF;
    color: #000000;
}


